{% extends "layout.html" %}

{% block pageTitle %}
  Service unavailable – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You are now signed out </h1>
      <p>For your security, you only have 30 minutes to upload and submit your document after you have signed in. </p>

      <p>We have not saved your information. </p>

<p><a href="/register/sign-in">Start again</a> to upload a document to Companies House.</p>

    </div>
  </div>

{% endblock %}
