{% extends "layout.html" %}

{% block pageTitle %}
  Content Design Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Time out</h2>

<p><strong>** Content in this section has been taken directly from this<a href="https://companieshouse-my.sharepoint.com/:w:/r/personal/spatel_companieshouse_gov_uk/_layouts/15/Doc.aspx?sourcedoc=%7BF449D654-B9D5-457D-BBAC-7B5A3521789A%7D&file=Time%20out%20screens.docx&action=default&mobileredirect=true"> time out SharePoint document</a> and is placeholder for now. **</strong></p>

      <h3 class="govuk-heading-m">Warning</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/content-pattern-library/miscellaneous/time-out/time-out-warning">Time out warning</a>
          </li>
  </ul>

          <h3 class="govuk-heading-m">Signed in</h3>
  <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/content-pattern-library/miscellaneous/time-out/signed-in-timed-out">Signed in, session timed out</a>
          </li>

          <li>
            <a href="/content-pattern-library/miscellaneous/time-out/signed-in-timed-out-inactivity" class="govuk-link govuk-link--no-visited-state">Signed in, timed out due to inactivity</a>
          </li>
</ul>
<h3 class="govuk-heading-m">No sign in</h3>
<ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="/content-pattern-library/miscellaneous/time-out/no-sign-in-timed-out" class="govuk-link govuk-link--no-visited-state">Service has no sign in, session timed out</a>
          </li>
          <li>
            <a href="/content-pattern-library/miscellaneous/time-out/no-sign-in-timed-out-inactivity" class="govuk-link govuk-link--no-visited-state">Service has no sign in, timed out due to inactivity</a>
          </li>

    </ul>


{% endblock %}
