{% extends "layout.html" %}

{% block pageTitle %}
  Error – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">A PSC for this company has details protected </h1>
      <p>One or more person with significant control (PSC) for this company has their details protected. This means you cannot use this service to report a discrepancy.</p>

<p>If you need to report a discrepancy about a beneficial owner on the PSC register for this company, you must contact the PSC descrepancy team directly at <a href="#">pscdiscrepancies@companieshouse.gov.uk</a>.</p>

    </div>
  </div>

{% endblock %}
