{% extends "layout.html" %}

{% block pageTitle %}
  Error – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Email address not authorised to sign </h1>
      <p>You can only access this service if your email address have been given to us by the person making the application to strike off and dissolve the company.</p>


<p><a href="#">Return to the start of the service</a> and try again.</p>



    </div>
  </div>

{% endblock %}
