{% extends "layout.html" %}

{% block pageTitle %}
  Content Design Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Error pages</h2>

  <h3 class="govuk-heading-m">Common error pages</h3>

  <ul class="govuk-list govuk-list--bullet">
  <li>
  <a href="#">Cannot use this service</a>
  </li>
  <li>
  <a href="#">Page not found</a>
  </li>
  <li>
  <a href="#">Problem with the service</a>
  </li>
  </ul>

    <h3 class="govuk-heading-m">Service-specific error pages</h3>

    <h4 class="govuk-heading-s">Dissolution</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/content-pattern-library/error-pages/email-address-not-authorised">Email address not authorised</a>
          </li>
    </ul>

    <h4 class="govuk-heading-s">Objections</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/content-pattern-library/error-pages/objections-no-notice">No strike off notice</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-pages/objections-notice-expired">Strike off notice expired</a>
          </li>
    </ul>

<h4 class="govuk-heading-s">Extensions</h4>
<ul class="govuk-list govuk-list--bullet">
<li>
<a href="/content-pattern-library/error-pages/extensions-cannot-use">Cannot use this service</a>
</li>
<li>
<a href="/content-pattern-library/error-pages/extensions-cannot-grant">Cannot grant an extension</a>
</li>
<li>
  <a href="/content-pattern-library/error-pages/extensions-company-still-required">Been told company still required</a>
</li>
</ul>

<h4 class="govuk-heading-s">Report a discrepancy</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/content-pattern-library/error-pages/5mld-details-protected">PSC has details protected</a>
      </li>
</ul>

<h4 class="govuk-heading-s">Certified documents</h4>
<ul class="govuk-list govuk-list--bullet">
<li>
<a href="/content-pattern-library/error-pages/ccd-cannot-use">Cannot use this service</a>
</li>
</ul>

<h4 class="govuk-heading-s">Request authentication code sent to home address</h4>
<ul class="govuk-list govuk-list--bullet">
<li>
<a href="/content-pattern-library/error-pages/auth-code-home-address-cannot-use">Cannot use this service</a>
</li>
</ul>

{% endblock %}
