{% extends "layout.html" %}

{% block pageTitle %}
  Error – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot use this service</h1>

      <p class="govuk-body">We cannot grant a filing deadline extension to COMPANY NAME LTD (01234567).</p>

  <p class="govuk-body">The company must file its accounts no more than 12 months after the end of the accounting period.</p>

<p><a href="#">File the company accounts</a> as soon as possible to avoid a late filing penalty.</p>

    </div>
  </div>

{% endblock %}
