{% extends "layout.html" %}

{% block pageTitle %}
  Error – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot use this service</h1>
      <p>We've already been told that BAD NEWS LIMITED is still required.</p>

<p>This company must now <a href="#">file its accounts or confirmation statement</a>.</p>

  <p>If its accounts are overdue, the company will receive a late filing fine that increases until it files. If its confirmation statement is overdue, it will not receive a fine.</p>

<p><a href="#">Contact us if you need to give us more information or you need reasonable adjustments.</p>

<p><a href="#">What did you think of this service?</a> (takes 30 seconds) </p>

    </div>
  </div>

{% endblock %}
