{% extends "layout.html" %}

{% block pageTitle %}
  Error – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">The strike off notice has expired for the company </h1>
      <p>COMPANY NAME LTD has been struck off the register and you can no longer apply to make an objection. </p>

<p><a href="#">Contact us</a> if you think this information is wrong.</p>

<p><a href="#">Read the Company Restoration Guide</a> to find out more about restoring a company name to the register.</p>

<p>If this is the wrong company, start the <a href="#">Apply to object to a company being struck off</a> service again. </p>

    </div>
  </div>

{% endblock %}
