{% extends "layout.html" %}

{% block pageTitle %}
  Error – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">There is no strike off notice for the company </h1>
      <p>Check the status of COMPANY NAME LTD in around 4 weeks’ time. If dissolution action has started, you can return to this service to make an objection. </p>

<p><a href="#">Find out how to follow a company</a> to get email updates about any changes in its status.</p>

<p>If this is the wrong company, you can start the <a href="#">Apply to object to a company being struck off</a>  service again.</p>

<p><a href="#">Contact us</a> if you want to speak to someone about objecting to a company being struck off the register. </p>

    </div>
  </div>

{% endblock %}
