{% extends "layout.html" %}

{% block pageTitle %}
  Error – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with this service </h1>
      <p>Try again later. </p>

<p>We have not saved your answers. When the service is available, you will have to start again.</p>

<p><a href="#">Contact us</a> if you need to speak to someone about applying to strike off and dissolve a company. </p>

    </div>
  </div>

{% endblock %}
