{% extends "layout.html" %}
{% block pageTitle %}
  Cookies on Companies House services
{% endblock %}


{% block content %}

{% set html %}
  <p class="govuk-body">We use some essential cookies to make our services work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use our services and to make improvements.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on Companies House services",
  messages: [
    {
      headingText: "Cookies on Companies House services",
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button",
          name: "cookies",
          value: "accept"
        },
        {
          text: "Reject analytics cookies",
          type: "button",
          name: "cookies",
          value: "reject"
        },
        {
          text: "View cookies",
          href: "#"
        }
      ]
    }
  ]
}) }}

{% endblock %}
