

{% extends "layout.html" %}
{% block pageTitle %}
  Sign in
{% endblock %}


{% block content %}

<script>
  function showPassword() {
  var x = document.getElementById("password");
  var y = document.getElementById("show-hide");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}

  function showConfirmPassword() {
  var x = document.getElementById("confirm-password");
  var y = document.getElementById("show-hide-confirm");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}
</script>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/sign-in" method="post" novalidate>



          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList:[
              {
                text: "Enter a correct email address and password. You have 4 attempts left.",
                href: "#email"
              },
              {
              text: "",
              href: "#password"

              }
              ]
            }) }}



      <h1 class="govuk-heading-xl">Sign in to your Companies House account</h1>

      {{ govukInsetText({
        text: "Your WebFiling details will not work with this service. You must sign in to or create a Companies House account.
      "
      }) }}


          {{ govukInput({
            label: {
            text: "Email address"
          },
          id: "email",
          type: "email",
          name: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter a correct email address and password. You have 4 attempts left."
          }
          }) }}




          {{ govukInput({
          label: {
          text: "Password"
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password",
          errorMessage: {
            text: ""
          }
          }) }}


          {{ govukButton({
          text: "Sign in"

        }) }}


        <p class="govuk-body"><a href="create-an-account" class="govuk-link">Create an account</a></p>

        <p><a href="../forgotten-password/change-your-password" class="govuk-link govuk-link--no-visited-state">I've forgotten my password</a></p>


      </form>
    </div>
  </div>
{% endblock %}
