<h3 class="govuk-heading-s">Companies House</h3>
<p class="govuk-body">Title case.</p>
<p class="govuk-body">Always show in full, never abbreviate to CH.</p>
<br>
<h3 class="govuk-heading-s">Companies House account</h3>
<p class="govuk-body">Lower case for ‘account’.</p>
<br>
<h3 class="govuk-heading-s" id="personal-code">Companies House personal code </h3>
<p class="govuk-body">Title case for Companies House, lower case for personal code. Never use UVID. </p><p class="govuk-body">Can be shortened to ‘personal code’ after being used the first time.  </p>
<br>
<h3 class="govuk-heading-s">Companies House register</h3>
<p class="govuk-body">Lower case for ‘register’.</p>
<br>
<h3 class="govuk-heading-s">Companies House Service</h3>
<p class="govuk-body">Title case.</p>
<br>
<h3 class="govuk-heading-s">confirmation statement</h3>
<p class="govuk-body">Lower case.</p>
<br>
<h3 class="govuk-heading-s">credit card</h3>
<p class="govuk-body">Lower case.</p>
