<h3 class="govuk-heading-s">The Gazette</h3>
<p class="govuk-body">Title case.</p>
<br>
<h3 class="govuk-heading-s">GOV.UK One Login</h3>
        <p class="govuk-body">Always use the full name: GOV.UK One Login. </p>
        <p class="govuk-body">Use &#8216GOV.UK One Login&#8217 as a noun.</p>
        <p>Avoid the word &#8216account&#8217 when referring to a user&#39s GOV.UK One Login. This:</p>
      
              <ul class="govuk-list govuk-list--bullet">
                  <li>helps with account confusion because many services have accounts, such as &#8216childcare account&#8217 and &#8216personal tax account&#8217</li>
                  <li>allows us to label services with return journeys and account-like functionality as &#8216your accounts&#8217 in a user&#39s GOV.UK One Login</li>
              </ul>

              <p class="govuk-body">Examples:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>Create a GOV.UK One Login</li>
                  <li>Sign in to your GOV.UK One Login</li>
                  <li>You need a GOV.UK One Login to use this service</li>
                  <li>Use your GOV.UK One Login details to sign in to personal tax account</li>
                  <li>GOV.UK One Login is new</li>
              </ul>
              
              
              <p class="govuk-body">  Never use:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>One Login (without &#8216GOV.UK&#8217)</li>
                  <li>GOV.UK One Sign In or Sign On</li>
                  <li>GOV.UK One Log In or Log On</li>
                  <li>GOV.UK One Login account</li>
                  <li>One Login for government</li>
                  <li>single sign-on for government</li>
                  <li>GOV.UK OneLogin or OneLogin</li>
              </ul>
<br>
<h3 class="govuk-heading-s">GOV.UK Pay</h3>
<p class="govuk-body">All upper case for GOV.UK.</p>
<p class="govuk-body">Upper case for Pay.</p>
