<h3 class="govuk-heading-s">identity verification</h3>
        <p class="govuk-body">Lower case.</p>
        <p class="govuk-body">Always write in full. Do not abbreviate to IDV.</p>
        <br>
       <h3 class="govuk-heading-s">identity verification statement</h3>
    </p><p class="govuk-body">Lower case. </p>
<br>
<h3 class="govuk-heading-s">insolvency practitioner</h3>
<p class="govuk-body">Lower case.</p>
<br>
<h3 class="govuk-heading-s">the Insolvency Service</h3>
<p class="govuk-body">Title case for ‘Insolvency Service’.</p>
<br>
<h3 class="govuk-heading-s">interested parties</h3>
<p class="govuk-body">Lower case.</p>
