<h3 class="govuk-heading-s">people with significant control (PSC)</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to PSCs.</p>
<br>
<h3 class="govuk-heading-s">people with significant control register (PSC register)</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to PSC register.</p>
<br>
<h3 class="govuk-heading-s">person with significant control (PSC)</h3>
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to PSC.</p>
<br>
<h3 class="govuk-heading-s">photo ID</h3>
<p class="govuk-body">Lower case for &#8216photo&#8217. Upper case for &#8216ID&#8217. </p>
<br>
<h3 class="govuk-heading-s">Post Office</h3>
<p class="govuk-body">Title case. </p>
<br>
<h3 class="govuk-heading-s">presenter</h3>
<p class="govuk-body">Lower case.</p>
<br>
<h3 class="govuk-heading-s">private company</h3>
<p class="govuk-body">Lower case.</p>
<br>
<h3 class="govuk-heading-s">protected online filing (PROOF)</h3>
<p class="govuk-body">Lower case. Explain the acronym at first use, then abbreviate to PROOF. </p>
<br>
<h3 class="govuk-heading-s">public company</h3>
<p class="govuk-body">Lower case.</p>
