<h3 class="govuk-heading-s">UK economic interest grouping (UKEIG)</h3>
<p class="govuk-body">Lower case, except for UK.</p>
<p class="govuk-body">Explain the acronym at first use, then abbreviate to UKEIG.</p>
<br>
<h3 class="govuk-heading-s">UK-regulated agent</h3>
<p class="govuk-body">Hyphenate 'UK-regulated'. Lower case for agent.</p>
<br>
<h3 class="govuk-heading-s">UK Sanctions List</h3>
<p class="govuk-body">Upper case for 'UK' and title case for 'Sanctions List'.</p>
<br>
<h3 class="govuk-heading-s">UVID</h3>
<p class="govuk-body">Never use UVID. See <a href="#personal-code">Companies House personal code</a>.</p>
