<h3 class="govuk-heading-s">verification checks</h3>
<p class="govuk-body">Lower case. Use when referring to Register of Overseas Entities verification checks.</p> 
<br>
<h3 class="govuk-heading-s">verification deadline</h3>
<p class="govuk-body">Lower case.</p>
<br>
<h3 class="govuk-heading-s">verification details</h3>     
<p class="govuk-body">Lower case.</p> 
<br>
<h3 class="govuk-heading-s">verified identity</h3>    
<p class="govuk-body">Lower case.</p>
<br>
<h3 class="govuk-heading-s">verify your identity</h3>    
<p class="govuk-body">Lower case.</p>
<p class="govuk-body">Write in full - only use &#8216verify&#8217 on its own if it&#39s clear you&#39re talking about verifying identity.</p>