{% extends "layout.html" %}

{% block pageTitle %}
Backlog
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Backlog
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Pages
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/start-page" aria-describedby="start-page">
                  Start page
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="start-page">Placeholder content</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/sign-in" aria-describedby="sign-in">
                  Sign in
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="sign-in">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/company-number" aria-describedby="company-number">
                  Company number
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="company-number">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/confirm-company" aria-describedby="confirm-company">
                Confirm company
                </a>
              </span>
                  <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="confirm-company">Placeholder content</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/authentication-code" aria-describedby="authentication-code">
                Authentication code
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="authentication-code">Placeholder content</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/confirmation-page" aria-describedby="confirmation-page">
                    Confirmation page
                </a>
              </span>
                    <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="list-convictions-status">Placeholder content</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Errors
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="error-messages">
                  Error messages
                </a>
              </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="error-screens">
                  Error screens
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="error-screens">Not started</strong>
            </li>

          </ul>
        </li>

          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Miscellaneous
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="cookie-banner">
                  Cookie banner
                </a>
              </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cookie-banner">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="cookie-banner">
                Time out
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cookie-banner">Not started</strong>
            </li>

          </ul>
      </ol>
    </div>
  </div>

{% endblock %}
