{% extends "layout.html" %}

{% block pageTitle %}
Backlog
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Backlog
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Pages
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/sign-in" aria-describedby="sign-in">
                  Sign in
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--purple app-task-list__tag" id="sign-in">Ready to test</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/company-number" aria-describedby="company-number">
                  Company number
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--purple app-task-list__tag" id="company-number">Ready to test</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/confirm-company" aria-describedby="confirm-company">
                Confirm company
                </a>
              </span>
                  <strong class="govuk-tag govuk-tag--yellow app-task-list__tag" id="confirm-company">Placeholder content</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/authentication-code" aria-describedby="authentication-code">
                Authentication code
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="company-number">In progress</strong>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Errors
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-messages/error-messages-contents" aria-describedby="error-messages">
                  Error messages
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="company-number">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/error-pages/error-pages-contents" aria-describedby="error-pages">
                  Error pages
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="error-screens">Not started</strong>
            </li>

          </ul>
        </li>

          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Miscellaneous
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/miscellaneous/cookies-banner" aria-describedby="cookie-banner">
                  Cookies banner
                </a>
              </span>
                    <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="cookie-banner">Implemented</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/content-pattern-library/miscellaneous/time-out/time-out-contents" aria-describedby="time-out">
                Time out
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="cookie-banner">Not started</strong>
            </li>

          </ul>
      </ol>
    </div>
  </div>

{% endblock %}
