{% extends "layout.html" %}
{% block pageTitle %}
  Confirm company
{% endblock %}
{% block content %}

<div class="govuk-width-container">


<div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">
      <form action="/check-company-details" method="post" novalidate>

      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>

      <h2 class="govuk-heading-l">ABC LIMITED</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "18882777"
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Active"
            }
          },
          {
            key: {
              text: "Incorporation date"
            },
            value: {
              text: "11 December 2006"
            }
          },
          {
            key: {
              text: "Company type"
            },
            value: {
              text: "Private Limited Company"
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: "2nd Floor Red House<br>17 London Road<br>London<br>SA73 8PH"
            }
          }
        ]
      }) }}



      {{ govukButton({
          text: "Confirm and continue"
      }) }}

      <p class="govuk-body"> <a href="add-a-company" class="govuk-link">Choose a different company</a></p>

    </form>
  </div>

  </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



{% endblock %}
