

{% extends "layout.html" %}
{% block pageTitle %}
  Sign in
{% endblock %}


{% block content %}

<script>
  function showPassword() {
  var x = document.getElementById("password");
  var y = document.getElementById("show-hide");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}

  function showConfirmPassword() {
  var x = document.getElementById("confirm-password");
  var y = document.getElementById("show-hide-confirm");
  if (x.type === "password") {
    x.type = "text";
    y.text = 'Hide'
  } else {
    x.type = "password";
    y.text = 'Show'
  }
}
</script>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/sign-in" method="post" novalidate>

        {% if errorEmail == true or errorPassword == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}

        {% endif %}

      <h1 class="govuk-heading-xl">Sign. in to Companies House</h1>

      {{ govukInsetText({
        text: "You must sign in to or create a Companies House account. Your WebFiling details will not work with this service.
      "
      }) }}
        {% if errorEmail == true %}

          {{ govukInput({
            label: {
            text: "Email address"
          },
          id: "email",
          type: "email",
          name: "email",
          autocomplete: "email",
          errorMessage: {
            text: "Enter your email address"
          }
          }) }}

        {% else %}

          {{ govukInput({
            label: {
            text: "Email address"
          },
          type: "email",
          autocomplete: "email",
          id: "email",
          name: "email"
          }) }}

        {% endif %}

        {% if errorPassword == true %}

          {{ govukInput({
          label: {
          text: "Password"
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password",
          errorMessage: {
            text: "Enter your password"
          }

        }) }}

        {% else %}

          {{ govukInput({
          label: {
          text: "Password"
          },
          suffix: {
            html: "<a id='show-hide' href='javascript:showPassword();' class='govuk-link' style = 'padding: 1em'>Show</a>"
          },
          id: "password",
          name: "password",
          type: "password"
          }) }}
          {% endif %}

          {{ govukButton({
          text: "Sign in"

        }) }}


        <p class="govuk-body"><a href="create-an-account" class="govuk-link">Create an account</a></p>

        <p><a href="../forgotten-password/change-your-password" class="govuk-link govuk-link--no-visited-state">I've forgotten my password</a></p>


      </form>
    </div>
  </div>
{% endblock %}
