{% extends "layout.html" %}
{% block pageTitle %}
  Company number
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="/company-lookup/company-number" method="post">


<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-day">Error summary content - incorrect number of characters entered</a>
      </li>

    </ul>
  </div>
</div>

<div class="govuk-form-group govuk-form-group--error">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="event-name">
      What is the company number?
    </label>

  </h1>
  <div id="event-name-hint" class="govuk-hint">
    A company number is 8 characters long.

  <p id="event-name-error" class="govuk-error-message">

    <span class="govuk-visually-hidden">Error:</span> Error message content - incorrect number of characters entered
  </p>


  <input class="govuk-input govuk-date-input__input govuk-input--width-10 govuk-input--error" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint event-name-error">
</div>

{{ govukDetails({
  summaryText: "How do I find the company number?",
  html: "<p>You can find this by searching for the company on the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House register (opens in a new tab)</a>.</p>"
 }) }}
{{ govukButton({
  text: "Continue"
}) }}
</form>
</div>
</div>
{% endblock %}
