
{% extends "layout.html" %}

{% block pageTitle %}
  Content Design Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Content Design Prototype</h1>
        <h2 class="govuk-heading-l">Content Pattern Library</h2>
                <h3 class="govuk-heading-m">Pages</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/content-pattern-library/sign-in">Sign in</a>
          </li>

          <li>
            <a href="/content-pattern-library/company-number" class="govuk-link govuk-link--no-visited-state">Company number</a>
          </li>
          <li>
            <a href="/content-pattern-library/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
          </li>
          <li>
            <a href="/content-pattern-library/authentication-code" class="govuk-link govuk-link--no-visited-state">Authentication code</a>
          </li>
    </ul>

          <h3 class="govuk-heading-m">Errors</h3>
  <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="/content-pattern-library/error-messages/error-messages-contents" class="govuk-link govuk-link--no-visited-state">Error messages</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-pages/error-pages-contents" class="govuk-link govuk-link--no-visited-state">Error pages</a>
          </li>
        </ul>

              <h3 class="govuk-heading-m">Miscellaneous</h3>
      <ul class="govuk-list govuk-list--bullet">

              <li>
                <a href="content-pattern-library/miscellaneous/cookies-banner" class="govuk-link govuk-link--no-visited-state">Cookies banner</a>
              </li>
              <li>
                <a href="content-pattern-library/miscellaneous/time-out/time-out-contents" class="govuk-link govuk-link--no-visited-state">Time out</a>
              </li>


</ul>
              <h3 class="govuk-heading-m">Backlog</h3>
      <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/content-pattern-library/backlog" class="govuk-link govuk-link--no-visited-state">Backlog</a>
          </li>

        </ul>
        <h2 class="govuk-heading-l">Personal practise</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/personal-practise/sophie"class="govuk-link govuk-link--no-visited-state">Sophie</a>
          </li>
          <li>
            <a href="/personal-practise/sheena"class="govuk-link govuk-link--no-visited-state">Sheena</a>
          </li>
          <li>
            <a href="/personal-practise/kate"class="govuk-link govuk-link--no-visited-state">Kate</a>
          </li>
          <li>
            <a href="/personal-practise/lucy"class="govuk-link govuk-link--no-visited-state">Lucy</a>
          </li>
        </ul>


      <h3 class="govuk-heading-l">Examples and documentation</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples"class="govuk-link govuk-link--no-visited-state">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk"class="govuk-link govuk-link--no-visited-state">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
