
{% extends "layout.html" %}

{% block pageTitle %}
  Content Design Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Error messages</h2>
                <h3 class="govuk-heading-m">Sign in</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-no-email">No email address entered</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-no-password">No password entered</a>
          </li>

          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-no-email-no-password" class="govuk-link govuk-link--no-visited-state">No email address or password entered</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-incorrect-email-format" class="govuk-link govuk-link--no-visited-state">Email entered in incorrect format</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-4-attempts-left" class="govuk-link govuk-link--no-visited-state">Incorrect credentials - 4 attempts left</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-3-attempts-left" class="govuk-link govuk-link--no-visited-state">Incorrect credentials - 3 attempts left</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-2-attempts-left" class="govuk-link govuk-link--no-visited-state">Incorrect credentials - 2 attempts left</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-1-attempt-left" class="govuk-link govuk-link--no-visited-state">Incorrect credentials - 1 attempt left</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/sign-in-errors/sign-in-error-account-locked" class="govuk-link govuk-link--no-visited-state">Incorrect credentials - account locked</a>
          </li>
    </ul>

          <h3 class="govuk-heading-m">Company number</h3>
  <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="/content-pattern-library/error-messages/company-number-errors/company-number-error-no-number" class="govuk-link govuk-link--no-visited-state">No company number entered</a>
          </li>
          <li>
            <a href="/content-pattern-library/error-messages/company-number-errors/company-number-error-characters" class="govuk-link govuk-link--no-visited-state">Incorrect number of characters entered</a> - Placeholder content

          </li>

        </ul>

              <h3 class="govuk-heading-m">Authentication code</h3>
      <ul class="govuk-list govuk-list--bullet">

              <li>
                <a href="/content-pattern-library/error-messages/authentication-code-errors/auth-code-error-no-code" class="govuk-link govuk-link--no-visited-state">No authentication code entered</a>
              </li>
              <li>
                <a href="/content-pattern-library/error-messages/authentication-code-errors/auth-code-error-wrong-code" class="govuk-link govuk-link--no-visited-state">Incorrect authentication code entered</a>
              </li>
</ul>

<h3 class="govuk-heading-m">Name</h3>
<ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/content-pattern-library/error-messages/name-errors/name-missing" class="govuk-link govuk-link--no-visited-state">Name missing</a>
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/name-errors/invalid-characters" class="govuk-link govuk-link--no-visited-state">Invalid characters</a> <br> Note: The error message for invalid characters could vary depending on the needs of the service.
        </li>
</ul>

<h3 class="govuk-heading-m">Email address</h3>
<ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/content-pattern-library/error-messages/email-address-errors/email-missing" class="govuk-link govuk-link--no-visited-state">Email address missing</a>
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/email-address-errors/email-wrong-format" class="govuk-link govuk-link--no-visited-state">Email address in wrong format</a> 
        </li>
</ul>

<h3 class="govuk-heading-m">Nationality</h3>
<ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/content-pattern-library/error-messages/nationality-errors/nationality-missing" class="govuk-link govuk-link--no-visited-state">Nationality missing</a>
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/nationality-errors/50-characters" class="govuk-link govuk-link--no-visited-state">Multiple nationalities more than 50 characters</a> 
          <br>Note: This is a technical constraint - CHIPS currently limits multiple nationalities to 50 characters only.
        </li>
</ul>

<h3 class="govuk-heading-m">Date of birth</h3>
<ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/content-pattern-library/error-messages/date-errors/date-missing" class="govuk-link govuk-link--no-visited-state">Date missing</a>
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/day-missing" class="govuk-link govuk-link--no-visited-state">Day missing
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/month-missing" class="govuk-link govuk-link--no-visited-state">Month missing
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/year-missing" class="govuk-link govuk-link--no-visited-state">Year missing
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/day-month-missing" class="govuk-link govuk-link--no-visited-state">Day and month missing
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/day-year-missing" class="govuk-link govuk-link--no-visited-state">Day and year missing
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/month-year-missing" class="govuk-link govuk-link--no-visited-state">Month and year missing
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/future-date" class="govuk-link govuk-link--no-visited-state">Date must be in the past
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/not-enough-numbers-year" class="govuk-link govuk-link--no-visited-state">Not enough numbers in year
        </li>
        <li>
          <a href="/content-pattern-library/error-messages/date-errors/date-cannot-be-correct" class="govuk-link govuk-link--no-visited-state">Date entered cannot be correct</a>  - for example, ‘13’ in month, characters instead of numbers
        </li>
</ul>

{% endblock %}
